.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,255);
    margin: 16px;
    font-size: large;
    text-align: center;
}

.login-form {
    max-width: 400px;
    margin:20px auto;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}


